<!DOCTYPE html>
<html>

<head>
    <title>Beneficiarios</title>
    <!-- Link Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <!-- Link Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="icon" type="image/png" href="../static/images/unimed-logo.png" sizes="32x32">
    <link rel="stylesheet" href="../static/css/styles.css"> <!-- Seu arquivo de estilos CSS -->
    <!-- <style>
        /* Custom CSS for the gray background */
        body {
            background-color: rgb(233, 229, 229);
        }

        /* Custom CSS for the background of the button bar */
        .custom-btn-group {
            background-color: #f2f2f2;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 10px;
        }
    </style> -->
</head>

<body>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Produção Unimed - {{producao}}</h3>
                    </div>
                    <div class="card-body">
                        <!-- Adicionando o Menu -->
                        {% include 'menu.html' %}
                        <!-- Adicionando o Menu -->
                        <h5 id="selectedAT" style="padding-block-end: inherit; text-align: center; font-weight: bold;">
                            {{ AT }}</h5>
                        <div class="container">
                            <h5>Editar Beneficiario</h5>

                            <form method="post" class="beneficiario-form">
                                <div class="form-group">
                                    <label for="nome">Nome:</label>
                                    <input type="text" name="nome" id="nome" value="{{ beneficiario.nome }}" disabled required>
                                </div>
                                <div class="form-group">
                                    <label for="tipo">Tipo:</label>
                                    <select name="tipo" id="tipo">
                                        <option value="AT" {% if beneficiario.tipo == "AT" %}selected{% endif %}>AT</option>
                                        <option value="Clínica" {% if beneficiario.tipo == "Clínica" %}selected{% endif %}>Clínica</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="atendente_1">Atendente 1:</label>
                                    <select name="atendente_1" id="atendente_1">
                                        <option value="">Nenhum</option>
                                        {% for profissional in profissionais %}
                                        <option value="{{ profissional.id }}" {% if (not beneficiario.atendente_1 and
                                            not profissional.id) or (beneficiario.atendente_1 and
                                            profissional.id==beneficiario.atendente_1.id) %}selected{% endif %}>{{
                                            profissional.nome }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="atendente_2">Atendente 2:</label>
                                    <select name="atendente_2" id="atendente_2">
                                        <option value="">Nenhum</option>
                                        {% for profissional in profissionais %}
                                        <option value="{{ profissional.id }}" {% if (not beneficiario.atendente_2 and
                                            not profissional.id) or (beneficiario.atendente_2 and
                                            profissional.id==beneficiario.atendente_2.id) %}selected{% endif %}>{{
                                            profissional.nome }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="atendente_3">Atendente 3:</label>
                                    <select name="atendente_3" id="atendente_3">
                                        <option value="">Nenhum</option>
                                        {% for profissional in profissionais %}
                                        <option value="{{ profissional.id }}" {% if (not beneficiario.atendente_3 and
                                            not profissional.id) or (beneficiario.atendente_3 and
                                            profissional.id==beneficiario.atendente_3.id) %}selected{% endif %}>{{
                                            profissional.nome }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-submit btn waves-effect blue waves-light"
                                        style="width: 150px;">Salvar</button>
                                    <a href="{{ url_for('beneficiario') }}" class="btn btn waves-effect red waves-light"
                                        style="width: 150px;">Cancelar</a>
                                </div>
                                <!-- </div>
                                <button type="submit" class="btn-submit btn waves-effect blue waves-light">Salvar</button>
                                <a href="{{ url_for('beneficiario') }}" class="btn waves-effect red waves-light">Cancelar</a> -->
                            </form>

                            <!-- <form method="post">
                                <label for="nome">Nome:</label>
                                <input type="text" name="nome" id="nome" value="{{ beneficiario.nome }}" required>
                                <label for="atendente_1">Atendente 1:</label>
                                <select name="atendente_1" id="atendente_1">
                                    {% for profissional in profissionais %}
                                    <option value="{{ profissional.id }}" {% if profissional.id == beneficiario.atendente_1 %}selected{% endif %}>{{ profissional.nome }}</option>
                                    {% endfor %}
                                </select>
                                <label for="atendente_2">Atendente 2:</label>
                                <select name="atendente_2" id="atendente_2">
                                    {% for profissional in profissionais %}
                                    <option value="{{ profissional.id }}" {% if profissional.id == beneficiario.atendente_2 %}selected{% endif %}>{{ profissional.nome }}</option>
                                    {% endfor %}
                                </select>
                                <label for="atendente_3">Atendente 3:</label>
                                <select name="atendente_3" id="atendente_3">
                                    {% for profissional in profissionais %}
                                    <option value="{{ profissional.id }}" {% if profissional.id == beneficiario.atendente_3 %}selected{% endif %}>{{ profissional.nome }}</option>
                                    {% endfor %}
                                </select>
                                <button type="submit">Salvar</button>
                            </form> -->


                        </div>

                        <!-- <p class="text-center">{{ semDados }}</p> -->
                    </div>
                    <!-- <div class="card-footer">
                        <a href="{{ url_for('index') }}" class="btn waves-effect waves-light">Voltar</a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Link Bootstrap JS (optional, only required for some Bootstrap components) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Link Materialize JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        // Inicializar o elemento select do Materialize
        $(document).ready(function () {
            $('select').formSelect();
        });
    </script>

</body>

</html>