<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>PDF File Upload</title>
    <!-- Link Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col s12 m8 offset-m2">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title center-align">Upload do Arquivo PDF</span>
                        <div id="form-section">
                            <form method="post" enctype="multipart/form-data">
                                <input type="file" name="file" accept=".pdf">
                                <input type="submit" value="Submit">
                            </form>
                            <!-- <form id="upload-form" enctype="multipart/form-data">
                                <div class="file-field input-field">
                                    <div class="btn">
                                        <span>Escolher Arquivo</span>
                                        <input type="file" name="file" accept=".pdf">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text">
                                    </div>
                                </div>
                                <div class="center-align">
                                    <button class="btn waves-effect waves-light" type="submit" name="action">Enviar</button>
                                </div>
                            </form> -->
                            <div class="progress" style="display:none">
                                <div class="indeterminate"></div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Custom JavaScript -->
    <script>
        // Custom JavaScript code for handling file upload and AJAX request goes here
    </script>
</body>
</html>
