<!DOCTYPE html>
<html>

<head>
    <title>Produções</title>
    <!-- Link Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <!-- Link Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../static/css/styles.css"> <!-- Seu arquivo de estilos CSS -->
    <link rel="icon" type="image/png" href="../static/images/unimed-logo.png" sizes="32x32">    
</head>

<body>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Lista de produções</h3>
                    </div>
                    <div class="card-body">
                        <!-- Adicionando o Menu -->
                        {% include 'menu.html' %}
                        <!-- Adicionando o Menu -->
                        <h5 class="text-center">Dados da Produção - {{ producao.producao_movimetacao }}</h5>
                        <div class="custom-btn-group btn-group">
                            <!-- ... (existing buttons) ... -->
                            <div class="btn-group">
                                <select id="beneficiarySelect" class="btn  waves-effect waves-light dropdown-toggle">
                                    <option value="">Todos os Beneficiários</option>
                                </select>
                            </div>
                            <div class="btn-group">
                                <select id="codeSelect" class="btn waves-effect waves-light dropdown-toggle">
                                    <option value="">Todos os Códigos</option>
                                </select>
                            </div>
                        </div>
                        <table class="mt-3 striped centered table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Data-Hora</th>
                                    <th>Código</th>
                                    <th>Beneficiário</th>
                                    <th>Qtd.Paga</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for dado in producao.dados_producao %}
                                <tr>
                                    <td>{{ dado.formatted_data_hora }}</td>
                                    <td>{{ dado.codigo }}</td>
                                    <td>{{ dado.beneficiario }}</td>
                                    <td>{{ dado.qtd_paga }}</td>
                                    <td>{{ dado.valor }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div id="noDataMessageRow" style="display: none;">
                            <h6 colspan="5" class="text-center">Nenhum dado encontrado</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


<!-- Link Bootstrap JS (optional, only required for some Bootstrap components) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- Link Materialize JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<!-- Include the JavaScript file with the filter script -->
<script src="../static/js/filtroDadosProducao.js"></script>
